*.vim
.DS_Store
*.vim
*.LICENSE.txt
.env
node_modules/
dist/hatcher*
test/
__tests__/
prebuild/
prebuild/**.*
graphics/
mukha.free
# some from dist
dist/
dist/latid2mukha.js
dist/js_api_client.js
refs/
libs/
*.zip
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
# Runtime data
pids
*.pid
*.seed
*.pid.lock
